/*
*Plugin Name : iAlert
*Developer : SHAN K PAUL <shanpaul06@gmail.com>
*website : www.tagprof.com/shan, www.dreamwebz.in
*
*/
/* 
    Document   : ialert Styles
    Created on : 12 Dec, 2012, 11:14:50 AM
    Author     : shan K paul (shanpaul06@gmail.com)
    Description:
        Used To styling the ialert Box 
*/
#ialert
{
    display: none; 
    min-width:280px;
    max-width: 400px;
    max-height: 450px;
    min-height: 60px; 
    padding: 10px;
    border-width:2px;
    border-style: solid;
    border-radius: 3px;
    border-color: #969696;
    background: #fdfdf7;
    box-shadow: 1px 2px 10px #3c3c3c;
    position: fixed;
    top: 30%;
    left: 30%;
    opacity: 1;
    z-index: 9999;
   
}
.iclr
{
    clear: both;
}
.ialert_content
{
    border-bottom: 1px solid #e7e8d9;
}
.ialert_content #iicon
{
    background-repeat:no-repeat;
    background-position: center;

    width: 80px;    
    height: 55px;
    float: left;
    text-align: center;
    
}
.iclr
{
 clear: both;   
}
.ialert_content #imessage
{
    padding:10px 5px 5px 10px;
    font-size: 13px;
    color: #4b4b4b;
    float: left;
    width: 300px;
    min-height: 40px;
    height: auto;
    word-wrap:break-word;
        border-left: 1px solid #e7e8d9;
}
#ialert .icontrol
{
    padding: 2px;
    height: auto;
    padding-top: 7px;
 }
/* iicon set*/
.ialert_content #iicon .iwarning
{

    background: url("iimages/iwarning.png") no-repeat center;
    height: 50px;
}
.ialert_content #iicon .iwait
{
    background: url("iimages/iwaitred.png") no-repeat center;
    height: 50px;
}
.ialert_content #iicon .iwaitred
{
    background: url("iimages/iwaitred.png") no-repeat center;
    height: 50px;
}
.ialert_content #iicon .iinfo
{
    background: url("iimages/iinfo.png") no-repeat center;
    height: 50px;
}
.ialert_content #iicon .ichoose
{
    background: url("iimages/ichoose.png") no-repeat center;
    height: 50px;
}
/* iicon set ends */
#ialert .icontrol .ibutton
{
    float: right;
    padding: 2px 5px 2px 5px;;
/*    background: #ba781a;*/
    color: #FFF;
    min-width: 55px;
/*    border: 1px solid #9e6f2d;*/
    border-radius: 2px;    
    text-align: center;
    text-transform: uppercase;
    cursor:pointer;
    font-size:.9em;
     -webkit-transform: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out; 
    -o-transition: 0.4s ease-in-out;
}
/*Button Modes*/
#iconfirm
{
    
    border: 1px solid  #b24c4a;
    background: #c74946;
    margin-left: 10px;
    
}
#iconfirm:hover
{
    background: #ee392f;
}
#icancel
{
    border: 1px solid  #3497ae;
    background: #2eb5d4;
    
}
#icancel:hover
{
    background:#39cddd;
}
#iok
{
    border: 1px solid  #238026;
    background: #469749;
    
}
#iok:hover
{
    background: #03c616;
}
#imodel
{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: #efefef;
    opacity:.5;
    display: none;
z-index:9998;
}
#iloadbar
{
    background: url("iimages/progressbar.gif") no-repeat center;
    width: 140px;
    height: 15px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
